html {
	margin:0px;
}

body.container-fluid {
	padding:0;
	margin:0 auto;
	width:96%;
}

.navbar {
	position:fixed;
	width: 96%;
	box-shadow: 0px 5px 5px #888888;
	-moz-box-shadow: 0px 5px 5px #888888;
	-webkit-box-shadow: 0px 5px 5px #888888;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888');
}

.sidebar {
    margin-top:65px;
    width:350px;
	position:fixed;
	right:2%;
	overflow: hidden;
	height:100%;
}

.content {
	margin-top:65px;
    float:left;
    overflow: hidden;
	width:100%;
}

.feed {
	width:auto;
	height:100%;
	display:block;
	margin-bottom:20px;
}

.canvas {
	width:auto;
	display:block;
    margin-right:370px;
}