/*************************************
*********TEMPLATE SPECIFIC************
**************************************/

html {
	margin:0px;
}

body.container-fluid {
	padding:0;
	margin:0 auto;
	font-size: 14px;
}

.navbar {
	margin-bottom:0 !important;
	white-space: nowrap;
}

.navbar-inner {
	margin:20px 0px 23px 0px;
	height:30px !important;
	overflow:hidden !important;
}

.deco .navbar-inner {
  -webkit-border-bottom-right-radius: 0 !important;
     -moz-border-bottom-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
     -moz-border-bottom-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
}

.lockednav {
	right:20px;
	left:20px;
	position:fixed;
	background-color: #fff;
	z-index: 1001;
}

.deco {
	box-shadow: 0px 5px 5px #888888;
	-moz-box-shadow: 0px 5px 5px #888888;
	-webkit-box-shadow: 0px 5px 5px #888888;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888');
}

.well {
	padding:0px !important;
}

.canvas, footer {
	left:20px;
	position:fixed;
}

.sidebar {
    width:217px;
	position:fixed;
	right:20px;
	top:85px;
	bottom:2px;
}

.skinny {
	margin-right:260px;
}

.fat {
	margin-right:20px;
}

.canvas {
	top:85px;
	bottom:55px;
	z-index: -1000;
	right:0px;
}

footer {
	bottom:0px;
	background-color: #fff;
	right:0px;
}

footer .navbar-inner {
	min-height:30px !important;
  -webkit-border-bottom-right-radius: 4 !important;
     -moz-border-bottom-right-radius: 4 !important;
          border-bottom-right-radius: 4 !important;
  -webkit-border-bottom-left-radius: 4 !important;
     -moz-border-bottom-left-radius: 4 !important;
          border-bottom-left-radius: 4 !important;
}

footer .pull-right li {
	padding-top:5px;
	color: #777;
	text-decoration: none;
}

footer .pull-right label:hover {
	color: #333;
	text-decoration: none;
}

footer .pull-right label {
	display:inline;
}

footer div ul li a {
	padding:5px 15px 5px 0px !important;
}

footer label, footer {
	font-size:11px;
}

#sideClick {
	margin-top:-2px;
}

.content {
	margin-left:40px;
	bottom:100px;
	padding:0px 20px 100px 0px;
	overflow:hidden;
}

/*************************************
************CANVAS SPECIFIC***********
**************************************/

.canvasHeader {
	position:fixed;
	left:40px;
	right:20px;
	background-color: #f5f5f5;
	padding-top:12px;
	top:86px;
	overflow:hidden;
}

.canvasHeader h2 {
	display:inline;
}

.canvasHeader form {
	margin:5px 0px 0px 0px;
}

#searchInput {
	width:200px;
}

hr {
	margin:11px 0px 0px 0px !important;
}

.canvasMenuControls {
	font-size: 11px;
	position:fixed;
	margin: 0px 0px 20px 0px;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	width:195px;
	top: 170px;
	overflow:hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.canvasMenuCtrlPM {
	top: 192px;
	bottom:73px;
	padding-top:5px;
  -webkit-border-top-right-radius: 0;
     -moz-border-top-right-radius: 0;
          border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-top-left-radius: 0;
          border-top-left-radius: 0;
}

.autoCompleteRow {
	top:170px;
	position:fixed;
	z-index: 1004;
}

#projectAutoComplete {
	width:135px;
	font-size: 11px;
	height:12px !important;
	line-height:12px !important;
  -webkit-border-bottom-left-radius: 0 !important;
     -moz-border-bottom-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
}

#projectAutoCompletePlacibo {
  -webkit-border-bottom-right-radius: 0 !important;
     -moz-border-bottom-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;

}

.canvasMenuControls a {
	color: #777;
	text-decoration: none;
}

.canvasMenuControls a:hover {
	color: #333;
	text-decoration: none;
}

.canvasMenuControls ul {
	margin:0px;
}

.canvasMenuSelections li {
	list-style: none;
	text-align: center;
	margin:0px 12px 0px 12px;
	padding:4px 0px 4px 0px;
	border-bottom:1px solid #e3e3e3;
}

.canvasMenuSelections li:last-child {
	border-bottom:0px;
}

.canvasPot {
	margin-left:215px;
	padding-top:170px;
	font-size: 11px;
}

.canvasPot h4 {
	margin:0px 0px 10px 2px;
}

.canvasPot a {
	color: #777;
	text-decoration: none;
}

.canvasPot a:hover {
	color: #333;
	text-decoration: none;
}

/*************************************
***********PROJECT SPECIFIC***********
**************************************/

.projectBlock {
	overflow: hidden;
	margin-bottom:15px;
}

.projectBlock h4 {
	position:absolute;
	padding-bottom:6px;
	border-bottom:1px solid #ddd;
	left:0px;
	right:0px;
	margin:0px 600px 0px 250px;
}

.nav-tabs li {
	text-align: right !important;
}

.nav-tabs a {
	padding: 3px 9px 2px 9px !important;
}

.projectBlock li.active {
	color:transparent !important;
}