html {
	margin:0px;
}

body.container-fluid {
	padding:0;
	margin:0 auto;
	width:96%;
}

.headstart {
    padding-top:85px;
	overflow: hidden;
}

.lockednav {
	padding-top:20px;
	position:fixed;
	width: 96%;
	background-color: #fff;
}

.deco {
	box-shadow: 0px 5px 5px #888888;
	-moz-box-shadow: 0px 5px 5px #888888;
	-webkit-box-shadow: 0px 5px 5px #888888;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888');
}

.sidebar {
    width:350px;
	position:fixed;
	right:2%;
	top:85px;
	bottom:22px;
	height:auto;
}

.well {
	width:auto;
	height:100%;
	padding:0px !important;
}

.nestedWell {
	padding:20px;
}


.content {
	
}

.canvas, footer {
    
}

.canvas {
	width:100%;
	position:fixed;
	top:85px;
	height:auto;
	bottom:90px;
}

footer {
	bottom:0px;
	position:fixed;
	width:100%;
}