<h3  green-man>Activity Monitor</h3>

<div class="sidebarControls" nice-scrollbar>
	<ul class="sidebarContentSelections" infinite-scroll='loadMore()' infinite-scroll-distance='10'>

		<li ng-repeat="singleActivityEvent in activityLogList">
			<a href="">{{singleActivityEvent.title}}</a>
		</li>
		<li ng-repeat='image in images'>
			{{image}}
		</li>
		<li ng-show='reddit.busy'>Loading data...</li>

	</ul>
</div>

<form class="input-append sidebarAutoCompleteRow">
	<input id="sidebarAutoComplete" type="text" placeholder="Search for Log Events...">
	<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	  ...
	</ul>
	<button type="submit" 
			class="btn btn-mini autoCompletePlaciboButton">
		<i class="icon-search"></i>
	</button>
</form>