<div class="canvasPot">
	<div id="g1">
		<div class="graphHeader">
			<h4>Line of Business Graph</h4>
			<form class="form-search pull-right">
				<div class="input-append">
					<input id="contentSearchInput" 
						   type="text" 
						   class="search-query"
						   placeholder="Search for Artifacts...">
					<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
				</div>
			</form>
		</div>

		<img src="/images/g1.png" width="100%" height="100%">
	</div>
	<br><br><br><br><br><br><br><br>

	<div id="g2">
		<form class="form-search pull-right">
			<div class="input-append">
					<input id="contentSearchInput" 
						   type="text" 
						   class="search-query"
						   placeholder="Search for Artifacts...">
				<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
			</div>
		</form>
			
		<h4>Projects by Region Graph</h4>
		<img src="/images/g2.png" width="100%" height="100%">
	</div>
	<br><br><br><br><br><br><br><br>

	<div id="g3">
		<form class="form-search pull-right">
			<div class="input-append">
					<input id="contentSearchInput" 
						   type="text" 
						   class="search-query"
						   placeholder="Search for Artifacts...">
				<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
			</div>
		</form>
			
		<h4>Storage Saves Graph</h4>
		<img src="/images/g3.png" width="100%" height="100%">
	</div>
	<br><br><br><br><br><br><br><br>

	<div id="g4">
		<form class="form-search pull-right">
			<div class="input-append">
					<input id="contentSearchInput" 
						   type="text" 
						   class="search-query"
						   placeholder="Search for Artifacts...">
				<button type="submit" class="btn btn-mini"><i class="icon-search"></i></button>
			</div>
		</form>
			
		<h4>System Status Graph</h4>
		<img src="/images/g4.png" width="100%" height="100%">
	</div>
	<br><br><br><br><br><br><br><br>

	<div ng-repeat="singleProject in projectList">
		<div project-detail id="p{{$index}}">{{singleProject.name}}</div>
		<!-- <hr> -->
	</div>
</div>