<nav class="navbar lockednav">
  <div class="deco">
    <div class="navbar-inner">

      <ul class="nav">
        <a class="brand" href="#/home/dashboard"><img src="/images/orion_head.png"></a>
        <li ng-repeat="link in menuItems"><a ng-href="#/home/{{link}}">{{link | camelCase}}</a></li>
      </ul>

      <ul class="nav pull-right">
        <li ng-repeat="link in sessionItems"><a ng-href="#/home/{{link}}">{{link}}</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row-fluid headstart">

  <div class="nestedWell content" ui-view>
  </div> 

  <div class="canvas">
    <div class="well leftcut"> 
    </div>
  </div>  

  <footer>
    <div class="navbar navbar-inner leftcut">
      <ul class="nav">
        <li ng-repeat="link in footerItems"><a ng-href="#/home/{{link}}">{{link}}</a></li>
      </ul>
    </div>
  </footer>     


  <div class="sidebar">
    <div class="well">
      <div class="nestedWell">
        cars
      </div> 
    </div>        
  </div>

</div>


